.page-selector{
    height: 25vh;
    background-color: rgb(0,0,0);
    @include flexbox(space-evenly, row);
    position: relative;
    z-index: -1;
    .back-page{
        margin: auto;
        position: relative;
        border: 5px solid white;
        width: 25%;
        height: 50%;
        @include centerThings;
        text-align: right;
        transition: 0.5s;
        cursor: pointer;
        p{
            
            @include centerThings;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        
            padding: 0 1%;
            width: 75%;
            height: 100%;
            font-size: clamp(0.75rem, 1vw, 1rem);
            font-weight: 900;
            font-family: 'Open sans', sans-serif;
            color: rgb(226, 255, 252);
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            height: 100%;
            transform: scaleX(-1);
            background-image: url('../images/right-arrow.png');
            background-size: 75% 75%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
    .next-page{
        @extend .back-page;
        text-align: left;
        position: relative;
        p{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        
        }
        &::before{
            left: initial;
            right: 0;
            transform: none;
        
        }
    }
}